@use "sass:color";

$primary-color: #3063d0;
$border-color: #c3bfbc;
$bg-color: #f8f8f8;

.filter-container {
  background: $bg-color;
  border: solid $border-color 1px;
  border-radius: 6px;
  padding: 25px;
  width: 330px;
  font-family: Calibri, Arial, sans-serif;

  h3 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 12px;
    margin-top: 0;
    text-align: left;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  border: solid $border-color 1px;
  border-radius: 4px;
  padding: 6px;
  background: white;

  input {
    font-size: 15px;
    font-weight: lighter;
    flex: 1;
    border: none;
    outline: none;
    padding: 6px;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    filter: invert(37%) sepia(6%) saturate(133%) hue-rotate(278deg) brightness(95%) contrast(91%);
  }
}

.filtered-list {
  height: 260px;
  width: 325px;
  overflow-y: scroll;
  scrollbar-width: thin;
  background: $bg-color;
  margin-top: 10px;
  margin-bottom: 10px;

  .list-item {
    display: flex;
    position: relative;
    gap: 6px;
    margin-bottom: 12px;
    cursor: pointer;
    align-items: center;

    // Hide default checkbox
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    // Custom checkbox
    .checkmark {
      width: 20px;
      height: 20px;
      background-color: white;
      border: solid $border-color 1px;
      display: inline-block;
      position: relative;
    }

    input:checked ~ .checkmark {
      background-color: white;
      border: solid $border-color 1px;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      left: 3px;
      top: 3px;
      width: 14px;
      height: 14px;
      background-color: $primary-color;
    }

    input:checked ~ span.item-name {
      color: $primary-color;
      text-align: left;
    }

    .item-name {
      margin-left: 8px;
      font-size: 18px;
      font-weight: lighter;
    }
  }
}

.apply-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: $primary-color;
  font-size: 20px;
  font-weight: lighter;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: color.adjust($primary-color, $lightness: -10%);
  }
}

@media (max-width: 768px) {
  .filter-container {
    width: 85%;
  }

  .filtered-list {
    width: 100%;
  }

  .list-item {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .filter-container {
    width: 85%;
  }

  .filtered-list {
    width: 100%;
  }

  .list-item {
    font-size: 12px;
  }

  .apply-button {
    font-size: 14px;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .filter-container {
    padding: 15px;
  }

  .filtered-list {
    max-height: 150px;
  }

  .list-item {
    font-size: 12px;
  }

  .apply-button {
    font-size: 14px;
  }
}